{% extends "app/bloco.html" %}

{% block bloco %}
    <nav aria-label="...">
        <ul class="pagination justify-content-end">
        <li class="page-item disabled">
            {% if area.has_previous %}
                <a href="?page=1"><span class="page-link">First</span></a>
            {% endif %}
        </li>
        <li class="page-item disabled">
            {% if area.has_previous %}
                <a href="?page={{ area.previous_page_number }}"><span class="page-link">Previous</span></a>
            {% endif %}
        </li>
        <li class="page-item">
            {% if area.has_previous %}
                <a href="?page={{ area.previous_page_number }}"><span class="page-link">{{area.previous_page_number}}</span></a>
            {% endif %}
        </li>
        <li class="page-item active">
            <span class="page-link">
                {{ area.number }}
            <span class="sr-only">(current)</span>
            </span>
        </li>
        <li class="page-item">
            {% if area.has_next %}
                <a href="?page={{ area.next_page_number }}"><span class="page-link" >{{ area.next_page_number }}</span></a>
            {% endif %}
        </li>
        <li class="page-item">
            {% if area.has_next %}
                <a href="?page={{ area.next_page_number }}"><span class="page-link" >Next</span></a>
            {% endif %}
        </li>
        <li class="page-item">
            {% if area.has_next %}

                <a href="?page={{ area.paginator.num_pages }}"><span class="page-link" >Last</span></a>
            {% endif %}
        </li>
        </ul>
    </nav>
    <main>
        <div class="container">
            <div class="row">
                {% for area in area %}
                    <div class="col-md-4">
                        <a href="{% url 'cursos' area.id %}" class="card link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-0-hover" style="width: 18rem;">
                            <img class="card-img-top" src="{{ area.imagem.url }}" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text text-center">{{ area.nome }}</p>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}